.container {
    background-color: rgb(163, 137, 191);
    height: 100vh;
    padding: 20px;
}

.form-wrapper {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper form * {
    margin-bottom: 5px;
    border-radius: 2px;
    border: none;
    height: 1.8em;
    padding: 3px;
}

.error-container {
    color: red;
    border: 1px solid red;
    background-color: burlywood;
    padding: 10px;
    margin: 10px;
}